<html>
    <title>Solar Energy Prediction</title>
   

<form method="post">

	<h1>Solar Energy Prediction</h1>
    <table>
    <label>Year                              </label>
    <input name="year" placeholder="Year"/>	<br>
    
    <label>Month                              </label>
    <input name="month" placeholder="Month"/><br>
    
    <label>Day                              </label>
    <input name="day" placeholder="Day"/><br><br><br><br>


    <input name="first_hour" placeholder="First Hour of the Period"/>
    <input name="Isdaylight" placeholder="Isdaylight"/>
    <input name="solarNoon" placeholder="Distance to Solar Noon"/>
    <input name="avg_temperature" placeholder="Average Temperature"/>
    <input name="avg_windDirection" placeholder="Average Wind Direction"/>
    <input name="avg_windSpeed" placeholder="Average Wind Speed"/>
    <input name="sky_cover" placeholder="Sky Cover"/>
    <input name="visibility" placeholder="Visibility"/>
    <input name="relativeHumidity" placeholder="Relative Humidity"/>
    <input name="avg_windSpeed_period" placeholder="Average Wind Speed for Period"/>
    <input name="avg_pressure" placeholder="Average Pressure"/>

    </table>
    <h3>Power Generated    {{  power_generated  }}  W</h3>
    
    <button>Submit</button>

</form>
</html>



