<html>
    <title>Solar Energy Prediction</title>
   

<form method="post">

    <input name="year" placeholder="Year"/>
    <input name="month" placeholder="Month"/>
    <input name="day" placeholder="Day"/>


    <input name="first_hour" placeholder="First Hour of the Period"/>
    <input name="Isdaylight" placeholder="Isdaylight"/>
    <input name="solarNoon" placeholder="Distance to Solar Noon"/>
    <input name="avg_temperature" placeholder="Average Temperature"/>
    <input name="avg_windDirection" placeholder="Average Wind Direction"/>
    <input name="avg_windSpeed" placeholder="Average Wind Speed"/>
    <input name="sky_cover" placeholder="Sky Cover"/>
    <input name="visibility" placeholder="Visibility"/>
    <input name="relativeHumidity" placeholder="Relative Humidity"/>
    <input name="avg_windSpeed_period" placeholder="Average Wind Speed for Period"/>
    <input name="avg_pressure" placeholder="Average Pressure"/>

    <h3>POWER Generated   := {{  power_generated  }}</h3>
    
    <button>Save</button>

</form>
</html>



